In [1]:
import torch
import random
import math

from util import TokenizerUtil

tokenizer = TokenizerUtil()

input_ids, _ = tokenizer.encode('how are you', max_length=6)

input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

input_ids, attention_mask, tokenizer.decode(input_ids)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

(tensor([128002, 128002, 128000,   5269,    527,    499]),
 tensor([0, 0, 1, 1, 1, 1]),
 '<|reserved_special_token_0|><|reserved_special_token_0|><|begin_of_text|>how are you')

In [2]:
import json

with open('dataset/eval.json') as f:
    lines = f.readlines()

lines = random.sample(lines, k=16)
lines = [json.loads(i) for i in lines]

len(lines), lines[0]

(16,
 {'prompt': 'Human: context= CREATE TABLE table_name_49 (redline__rpm_ INTEGER, engine_code VARCHAR, year VARCHAR) question= What is the average Redline RPM of engines with engine code M57TUD30, made after 2002? Assistant:',
  'chosen': 'SELECT AVG(redline__rpm_) FROM table_name_49 WHERE engine_code = "m57tud30" AND year > 2002',
  'rejected': '',
  'response': 'SELECT AVG(redline__rpm_) FROM table_name_49 WHERE engine_code = "m57tud30" AND year > 2002'})

In [3]:
%run 1.model.ipynb

model_actor = torch.load('model/rlhf').to('cuda')

In [4]:
from util import get_generate

for data in lines:
    input_ids, _ = tokenizer.encode(data['prompt'], max_length=128)
    input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

    input_ids = input_ids.unsqueeze(0).to('cuda')
    attention_mask = attention_mask.unsqueeze(0).to('cuda')

    generate = get_generate(model_actor,
                            input_ids,
                            tokenizer.eos_token_id,
                            tokenizer.pad_token_id,
                            max_length=256)

    generate = generate[0, 128:].to('cpu')

    print(tokenizer.decode(generate))
    print(data['chosen'])
    print('===============')

select avg(INTROPHY__WITH_) from TABLE_NAME_49 where ENGINE_CODE = "COLD COLEETHEATI" and YEAR > 30<|end_of_text|>
SELECT AVG(redline__rpm_) FROM table_name_49 WHERE engine_code = "m57tud30" AND year > 2002
===============
select sum(REBOUNDS) from TABLE_NAME_21 where NAME = "CORK & MIRI" and RANK > 8<|end_of_text|>
SELECT SUM(rebounds) FROM table_name_21 WHERE name = "fedor likholitov" AND rank > 8
===============
select avg(ELECTION) from TABLE_NAME_30 where MUNICIPALITY = "MILLIPPER"<|end_of_text|>
SELECT AVG(election) FROM table_name_30 WHERE municipality = "monza"
===============
select FILM_TITLE_USED_IN_NOMINATION from TABLE_NAME_18 where COUNTRY = "SWITZILIPPINES"<|end_of_text|>
SELECT film_title_used_in_nomination FROM table_name_18 WHERE country = "netherlands"
===============
select SEASON from TABLE_24575253_4 where DIVISION_THREE = "dUNA eAST sT"<|end_of_text|>
SELECT season FROM table_24575253_4 WHERE division_four = "Wallington New Foresters"
===============
select MARGIN_OF_VICTORY from TABLE_NAME_34 where RUNNER_S__UP = "GREG NORMAN"<|end_of_text|>
SELECT margin_of_victory FROM table_name_34 WHERE runner_s__up = "rhys davies"
===============
select PARTY from TABLE_NAME_8 where FIRST_ELECTED = 1990<|end_of_text|>
SELECT party FROM table_name_8 WHERE first_elected = 1990
===============
select count(PICK) from TABLE_NAME_62 where PBA_TEAM = "DALLAS CITY ROVERS"<|end_of_text|>
SELECT COUNT(pick) FROM table_name_62 WHERE pba_team = "purefoods tender juicy hotdogs"
===============
select max(WINS) from TABLE_18703133_1 where TEAM = "cHAMPS mOTOR"<|end_of_text|>
SELECT MAX(wins) FROM table_18703133_1 WHERE team = "Sport Colombia"
===============
select max MINTAGE_WINS) from TABLE_NAME_93 where ARTIST = "DAKETH ALLEN" and YEAR < 2002<|end_of_text|>
SELECT MIN(mintage) FROM table_name_93 WHERE artist = "dora de p√©dery-hunt" AND year < 2002
===============
select DATE from TABLE_NAME_52 where GAME_SITE = "THE ANGRIZONA STADIUM"<|end_of_text|>
SELECT date FROM table_name_52 WHERE game_site = "schaeffer stadium"
===============
select distinct t1.PRODUCT from STAFF as t1 join PRODUCT as t2 on t1.PRODUCT_ID = t2.PRODUCT_ID join STAFF_DEPARTMENT_ASSIGNMENTS as t3 on t2.PRODUCT_ID = t3.PRODUCT_ID where t3.CHIPANT_NAME = "cHINA"<|end_of_text|>
SELECT t1.product FROM product AS t1 JOIN store_product AS t2 ON t1.product_id = t2.product_id JOIN store AS t3 ON t2.store_id = t3.store_id WHERE t3.store_name = "Miramichi"
===============
select min(FIRST_GAME) from TABLE_NAME_60 where PLAYED = 11 and LOST = 12<|end_of_text|>
SELECT MIN(first_game) FROM table_name_60 WHERE played > 11 AND lost = 12
===============
select min(ATTENDANCE) from TABLE_NAME_82 where RESULT = "L 42-35" and WEEK < 13<|end_of_text|>
SELECT MIN(attendance) FROM table_name_82 WHERE result = "l 42-35" AND week < 13
===============
select SCORE from TABLE_NAME_65 where COMPETITION = "VROLET BURNE" and VEN_SCORER = "NOVEMBER 14, 1954" and VERSHIP = "NOOKLY 14, 1954"<|end_of_text|>
SELECT score FROM table_name_65 WHERE competition = "world cup qualifying" AND brazil_scorers = "baltazar" AND date = "march 14, 1954"
===============
select max(GOALS_SCORED) from TABLE_NAME_79 where POINTS > 26 and WINS > 11<|end_of_text|>
SELECT SUM(goals_scored) FROM table_name_79 WHERE points > 26 AND wins > 11
===============